In [85]:
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from sqlalchemy import create_engine
import pandas as pd

ticker = input("Enter Ticker Symbol: ")

while not ticker:
    ticker = input("Enter Ticker Symbol: ")

url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/income-statement?freq=Q'
browser = webdriver.Chrome()
browser.get(url)

search = browser.find_element(By.ID,"jqxInput")
search.send_keys(str(ticker))
search.send_keys(Keys.RETURN)

try:
    text = WebDriverWait(browser, 20).until(
        EC.presence_of_element_located((By.ID, "contenttablejqxgrid"))
    )

except:
    browser.quit()
    
element = browser.find_element(By.XPATH, "//*[contains(@class, 'jqx-reset') and contains(@class, 'jqx-icon-arrow-right')]")
for i in range(40):
    element.click()    
 
# locate HTML element on page by ID
current_price = browser.find_element(By.ID, 'contentjqxgrid')

Enter Ticker Symbol: tsla

,Quarterly Data | Millions of US $ except per share data,2022-12-31,2022-09-30,2022-06-30,2022-03-31,2021-12-31,2021-09-30,2021-06-30,2021-03-31,2020-12-31,2020-09-30
0,Revenue,"$24,318","$21,454","$16,934","$18,756","$17,719","$13,757","$11,958","$10,389","$10,744","$8,771"
1,Cost Of Goods Sold,"$18,541","$16,072","$12,700","$13,296","$12,872","$10,097","$9,074","$8,174","$8,678","$6,708"
2,Gross Profit,"$5,777","$5,382","$4,234","$5,460","$4,847","$3,660","$2,884","$2,215","$2,066","$2,063"
3,Research And Development Expenses,$810,$733,$667,$865,$740,$611,$576,$666,$522,$366
4,SG&A Expenses,"$1,032",$961,$961,$992,"$1,494",$994,$973,"$1,056",$969,$888
5,Other Operating Income Or Expenses,-,-,-,-,-,-,-,-,-,-
6,Operating Expenses,"$1,876","$1,694","$1,770","$1,857","$2,234","$1,656","$1,572","$1,621","$1,491","$1,254"
7,Operating Income,"$3,901","$3,688","$2,464","$3,603","$2,613","$2,004","$1,312",$594,$575,$809
8,Total Non-Operating Income/Expense,$82,$-52,$10,$23,$22,$-122,$-19,$-61,$-196,$-254
9,Pre-Tax Income,"$3,983","$3,636","$2,474","$3,626","$2,635","$1,882","$1,293",$533,$379,$555
10,Income Taxes,$276,$305,$205,$346,$292,$223,$115,$69,$83,$186
11,Income After Taxes,"$3,707","$3,331","$2,269","$3,280","$2,343","$1,659","$1,178",$464,$296,$369
12,Other Income,-,-,-,-,-,-,-,-,-,-
13,Income From Continuous Operations,"$3,707","$3,331","$2,269","$3,280","$2,343","$1,659","$1,178",$464,$296,$369
14,Income From Discontinued Operations,-,-,-,-,-,-,-,-,-,-
15,Net Income,"$3,714","$3,292","$2,259","$3,318","$2,326","$1,618","$1,142",$438,$270,$300
16,EBITDA,"$4,890","$4,644","$3,386","$4,483","$3,461","$2,765","$1,993","$1,215","$1,193","$1,393"
17,EBIT,"$3,901","$3,688","$2,464","$3,603","$2,613","$2,004","$1,312",$594,$575,$809
18,Basic Shares Outstanding,"3,130","3,146","3,111","3,102","2,959","2,993","2,913","2,883","2,798","2,811"
19,Shares Outstanding,"3,475","3,468","3,465","3,471","3,386","3,369","3,357","3,399","3,249","3,315"
20,Basic EPS,$1.18,$1.05,$0.73,$1.07,$0.78,$0.54,$0.39,$0.15,$0.10,$0.11
21,EPS - Earnings Per Share,$1.07,$0.95,$0.65,$0.95,$0.68,$0.48,$0.34,$0.13,$0.08,$0.09

22

In [91]:

print(current_price.text)
print(type(current_price))

Quarterly Data | Millions of US $ except per share data
2022-12-31
2022-09-30
2022-06-30
2022-03-31
2021-12-31
2021-09-30
2021-06-30
2021-03-31
2020-12-31
2020-09-30
Revenue
$24,318
$21,454
$16,934
$18,756
$17,719
$13,757
$11,958
$10,389
$10,744
$8,771
Cost Of Goods Sold
$18,541
$16,072
$12,700
$13,296
$12,872
$10,097
$9,074
$8,174
$8,678
$6,708
Gross Profit
$5,777
$5,382
$4,234
$5,460
$4,847
$3,660
$2,884
$2,215
$2,066
$2,063
Research And Development Expenses
$810
$733
$667
$865
$740
$611
$576
$666
$522
$366
SG&A Expenses
$1,032
$961
$961
$992
$1,494
$994
$973
$1,056
$969
$888
Other Operating Income Or Expenses
-
-
-
-
-
-
-
-
-
-
Operating Expenses
$1,876
$1,694
$1,770
$1,857
$2,234
$1,656
$1,572
$1,621
$1,491
$1,254
Operating Income
$3,901
$3,688
$2,464
$3,603
$2,613
$2,004
$1,312
$594
$575
$809
Total Non-Operating Income/Expense
$82
$-52
$10
$23
$22
$-122
$-19
$-61
$-196
$-254
Pre-Tax Income
$3,983
$3,636
$2,474
$3,626
$2,635
$1,882
$1,293
$533
$379
$555
Income Taxes
$276
$305
$205
$346
$292
$223
$115
$69
$83
$186
Income After Taxes
$3,707
$3,331
$2,269
$3,280
$2,343
$1,659
$1,178
$464
$296
$369
Other Income
-
-
-
-
-
-
-
-
-
-
Income From Continuous Operations
$3,707
$3,331
$2,269
$3,280
$2,343
$1,659
$1,178
$464
$296
$369
Income From Discontinued Operations
-
-
-
-
-
-
-
-
-
-
Net Income
$3,714
$3,292
$2,259
$3,318
$2,326
$1,618
$1,142
$438
$270
$300
EBITDA
$4,890
$4,644
$3,386
$4,483
$3,461
$2,765
$1,993
$1,215
$1,193
$1,393
EBIT
$3,901
$3,688
$2,464
$3,603
$2,613
$2,004
$1,312
$594
$575
$809
Basic Shares Outstanding
3,130
3,146
3,111
3,102
2,959
2,993
2,913
2,883
2,798
2,811
Shares Outstanding
3,475
3,468
3,465
3,471
3,386
3,369
3,357
3,399
3,249
3,315
Basic EPS
$1.18
$1.05
$0.73
$1.07
$0.78
$0.54
$0.39
$0.15
$0.10
$0.11
EPS - Earnings Per Share
$1.07
$0.95
$0.65
$0.95
$0.68
$0.48
$0.34
$0.13
$0.08
$0.09
<class 'selenium.webdriver.remote.webelement.WebElement'>

In [90]:
# Split text into a list of strings seperated by newline.
data = current_price.text.split("\n")
print(data)

['Quarterly Data | Millions of US $ except per share data', '2022-12-31', '2022-09-30', '2022-06-30', '2022-03-31', '2021-12-31', '2021-09-30', '2021-06-30', '2021-03-31', '2020-12-31', '2020-09-30', 'Revenue', '$24,318', '$21,454', '$16,934', '$18,756', '$17,719', '$13,757', '$11,958', '$10,389', '$10,744', '$8,771', 'Cost Of Goods Sold', '$18,541', '$16,072', '$12,700', '$13,296', '$12,872', '$10,097', '$9,074', '$8,174', '$8,678', '$6,708', 'Gross Profit', '$5,777', '$5,382', '$4,234', '$5,460', '$4,847', '$3,660', '$2,884', '$2,215', '$2,066', '$2,063', 'Research And Development Expenses', '$810', '$733', '$667', '$865', '$740', '$611', '$576', '$666', '$522', '$366', 'SG&A Expenses', '$1,032', '$961', '$961', '$992', '$1,494', '$994', '$973', '$1,056', '$969', '$888', 'Other Operating Income Or Expenses', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Operating Expenses', '$1,876', '$1,694', '$1,770', '$1,857', '$2,234', '$1,656', '$1,572', '$1,621', '$1,491', '$1,254', 'Operating Income', '$3,901', '$3,688', '$2,464', '$3,603', '$2,613', '$2,004', '$1,312', '$594', '$575', '$809', 'Total Non-Operating Income/Expense', '$82', '$-52', '$10', '$23', '$22', '$-122', '$-19', '$-61', '$-196', '$-254', 'Pre-Tax Income', '$3,983', '$3,636', '$2,474', '$3,626', '$2,635', '$1,882', '$1,293', '$533', '$379', '$555', 'Income Taxes', '$276', '$305', '$205', '$346', '$292', '$223', '$115', '$69', '$83', '$186', 'Income After Taxes', '$3,707', '$3,331', '$2,269', '$3,280', '$2,343', '$1,659', '$1,178', '$464', '$296', '$369', 'Other Income', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Income From Continuous Operations', '$3,707', '$3,331', '$2,269', '$3,280', '$2,343', '$1,659', '$1,178', '$464', '$296', '$369', 'Income From Discontinued Operations', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Net Income', '$3,714', '$3,292', '$2,259', '$3,318', '$2,326', '$1,618', '$1,142', '$438', '$270', '$300', 'EBITDA', '$4,890', '$4,644', '$3,386', '$4,483', '$3,461', '$2,765', '$1,993', '$1,215', '$1,193', '$1,393', 'EBIT', '$3,901', '$3,688', '$2,464', '$3,603', '$2,613', '$2,004', '$1,312', '$594', '$575', '$809', 'Basic Shares Outstanding', '3,130', '3,146', '3,111', '3,102', '2,959', '2,993', '2,913', '2,883', '2,798', '2,811', 'Shares Outstanding', '3,475', '3,468', '3,465', '3,471', '3,386', '3,369', '3,357', '3,399', '3,249', '3,315', 'Basic EPS', '$1.18', '$1.05', '$0.73', '$1.07', '$0.78', '$0.54', '$0.39', '$0.15', '$0.10', '$0.11', 'EPS - Earnings Per Share', '$1.07', '$0.95', '$0.65', '$0.95', '$0.68', '$0.48', '$0.34', '$0.13', '$0.08', '$0.09']

In [92]:
# extract first 11 element and store as headers
headers = data[:11]
# create rows list from data list. Starting at 11th element(header) until the end of data with 11 steps
rows = [data[n:n+11] for n in range(11, len(data), 11)]
print(rows)

[['Revenue', '$24,318', '$21,454', '$16,934', '$18,756', '$17,719', '$13,757', '$11,958', '$10,389', '$10,744', '$8,771'], ['Cost Of Goods Sold', '$18,541', '$16,072', '$12,700', '$13,296', '$12,872', '$10,097', '$9,074', '$8,174', '$8,678', '$6,708'], ['Gross Profit', '$5,777', '$5,382', '$4,234', '$5,460', '$4,847', '$3,660', '$2,884', '$2,215', '$2,066', '$2,063'], ['Research And Development Expenses', '$810', '$733', '$667', '$865', '$740', '$611', '$576', '$666', '$522', '$366'], ['SG&A Expenses', '$1,032', '$961', '$961', '$992', '$1,494', '$994', '$973', '$1,056', '$969', '$888'], ['Other Operating Income Or Expenses', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], ['Operating Expenses', '$1,876', '$1,694', '$1,770', '$1,857', '$2,234', '$1,656', '$1,572', '$1,621', '$1,491', '$1,254'], ['Operating Income', '$3,901', '$3,688', '$2,464', '$3,603', '$2,613', '$2,004', '$1,312', '$594', '$575', '$809'], ['Total Non-Operating Income/Expense', '$82', '$-52', '$10', '$23', '$22', '$-122', '$-19', '$-61', '$-196', '$-254'], ['Pre-Tax Income', '$3,983', '$3,636', '$2,474', '$3,626', '$2,635', '$1,882', '$1,293', '$533', '$379', '$555'], ['Income Taxes', '$276', '$305', '$205', '$346', '$292', '$223', '$115', '$69', '$83', '$186'], ['Income After Taxes', '$3,707', '$3,331', '$2,269', '$3,280', '$2,343', '$1,659', '$1,178', '$464', '$296', '$369'], ['Other Income', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], ['Income From Continuous Operations', '$3,707', '$3,331', '$2,269', '$3,280', '$2,343', '$1,659', '$1,178', '$464', '$296', '$369'], ['Income From Discontinued Operations', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], ['Net Income', '$3,714', '$3,292', '$2,259', '$3,318', '$2,326', '$1,618', '$1,142', '$438', '$270', '$300'], ['EBITDA', '$4,890', '$4,644', '$3,386', '$4,483', '$3,461', '$2,765', '$1,993', '$1,215', '$1,193', '$1,393'], ['EBIT', '$3,901', '$3,688', '$2,464', '$3,603', '$2,613', '$2,004', '$1,312', '$594', '$575', '$809'], ['Basic Shares Outstanding', '3,130', '3,146', '3,111', '3,102', '2,959', '2,993', '2,913', '2,883', '2,798', '2,811'], ['Shares Outstanding', '3,475', '3,468', '3,465', '3,471', '3,386', '3,369', '3,357', '3,399', '3,249', '3,315'], ['Basic EPS', '$1.18', '$1.05', '$0.73', '$1.07', '$0.78', '$0.54', '$0.39', '$0.15', '$0.10', '$0.11'], ['EPS - Earnings Per Share', '$1.07', '$0.95', '$0.65', '$0.95', '$0.68', '$0.48', '$0.34', '$0.13', '$0.08', '$0.09']]

In [140]:
# create df with rows and columns
df = pd.DataFrame(rows, columns=headers)
df_transpose = df_transpose.reset_index(drop=True)
display(df)

,Quarterly Data | Millions of US $ except per share data,2022-12-31,2022-09-30,2022-06-30,2022-03-31,2021-12-31,2021-09-30,2021-06-30,2021-03-31,2020-12-31,2020-09-30
0,Revenue,"$24,318","$21,454","$16,934","$18,756","$17,719","$13,757","$11,958","$10,389","$10,744","$8,771"
1,Cost Of Goods Sold,"$18,541","$16,072","$12,700","$13,296","$12,872","$10,097","$9,074","$8,174","$8,678","$6,708"
2,Gross Profit,"$5,777","$5,382","$4,234","$5,460","$4,847","$3,660","$2,884","$2,215","$2,066","$2,063"
3,Research And Development Expenses,$810,$733,$667,$865,$740,$611,$576,$666,$522,$366
4,SG&A Expenses,"$1,032",$961,$961,$992,"$1,494",$994,$973,"$1,056",$969,$888
5,Other Operating Income Or Expenses,-,-,-,-,-,-,-,-,-,-
6,Operating Expenses,"$1,876","$1,694","$1,770","$1,857","$2,234","$1,656","$1,572","$1,621","$1,491","$1,254"
7,Operating Income,"$3,901","$3,688","$2,464","$3,603","$2,613","$2,004","$1,312",$594,$575,$809
8,Total Non-Operating Income/Expense,$82,$-52,$10,$23,$22,$-122,$-19,$-61,$-196,$-254
9,Pre-Tax Income,"$3,983","$3,636","$2,474","$3,626","$2,635","$1,882","$1,293",$533,$379,$555
10,Income Taxes,$276,$305,$205,$346,$292,$223,$115,$69,$83,$186
11,Income After Taxes,"$3,707","$3,331","$2,269","$3,280","$2,343","$1,659","$1,178",$464,$296,$369
12,Other Income,-,-,-,-,-,-,-,-,-,-
13,Income From Continuous Operations,"$3,707","$3,331","$2,269","$3,280","$2,343","$1,659","$1,178",$464,$296,$369
14,Income From Discontinued Operations,-,-,-,-,-,-,-,-,-,-
15,Net Income,"$3,714","$3,292","$2,259","$3,318","$2,326","$1,618","$1,142",$438,$270,$300
16,EBITDA,"$4,890","$4,644","$3,386","$4,483","$3,461","$2,765","$1,993","$1,215","$1,193","$1,393"
17,EBIT,"$3,901","$3,688","$2,464","$3,603","$2,613","$2,004","$1,312",$594,$575,$809
18,Basic Shares Outstanding,"3,130","3,146","3,111","3,102","2,959","2,993","2,913","2,883","2,798","2,811"
19,Shares Outstanding,"3,475","3,468","3,465","3,471","3,386","3,369","3,357","3,399","3,249","3,315"
20,Basic EPS,$1.18,$1.05,$0.73,$1.07,$0.78,$0.54,$0.39,$0.15,$0.10,$0.11
21,EPS - Earnings Per Share,$1.07,$0.95,$0.65,$0.95,$0.68,$0.48,$0.34,$0.13,$0.08,$0.09

In [137]:
df_transpose = df.transpose()
df_transpose = df_transpose.reset_index()
df_transpose.columns = df_transpose.iloc[0]
df_transpose = df_transpose.drop(df_transpose.index[0])
df_transpose = df_transpose.reset_index(drop=True)
df_transpose = df_transpose.reset_index(drop=True)

print(df_transpose.index.nlevels)
df_transpose

1

,Quarterly Data | Millions of US $ except per share data,Revenue,Cost Of Goods Sold,Gross Profit,Research And Development Expenses,SG&A Expenses,Other Operating Income Or Expenses,Operating Expenses,Operating Income,Total Non-Operating Income/Expense,...,Other Income,Income From Continuous Operations,Income From Discontinued Operations,Net Income,EBITDA,EBIT,Basic Shares Outstanding,Shares Outstanding,Basic EPS,EPS - Earnings Per Share
0,2022-12-31,"$24,318","$18,541","$5,777",$810,"$1,032",-,"$1,876","$3,901",$82,...,-,"$3,707",-,"$3,714","$4,890","$3,901","3,130","3,475",$1.18,$1.07
1,2022-09-30,"$21,454","$16,072","$5,382",$733,$961,-,"$1,694","$3,688",$-52,...,-,"$3,331",-,"$3,292","$4,644","$3,688","3,146","3,468",$1.05,$0.95
2,2022-06-30,"$16,934","$12,700","$4,234",$667,$961,-,"$1,770","$2,464",$10,...,-,"$2,269",-,"$2,259","$3,386","$2,464","3,111","3,465",$0.73,$0.65
3,2022-03-31,"$18,756","$13,296","$5,460",$865,$992,-,"$1,857","$3,603",$23,...,-,"$3,280",-,"$3,318","$4,483","$3,603","3,102","3,471",$1.07,$0.95
4,2021-12-31,"$17,719","$12,872","$4,847",$740,"$1,494",-,"$2,234","$2,613",$22,...,-,"$2,343",-,"$2,326","$3,461","$2,613","2,959","3,386",$0.78,$0.68
5,2021-09-30,"$13,757","$10,097","$3,660",$611,$994,-,"$1,656","$2,004",$-122,...,-,"$1,659",-,"$1,618","$2,765","$2,004","2,993","3,369",$0.54,$0.48
6,2021-06-30,"$11,958","$9,074","$2,884",$576,$973,-,"$1,572","$1,312",$-19,...,-,"$1,178",-,"$1,142","$1,993","$1,312","2,913","3,357",$0.39,$0.34
7,2021-03-31,"$10,389","$8,174","$2,215",$666,"$1,056",-,"$1,621",$594,$-61,...,-,$464,-,$438,"$1,215",$594,"2,883","3,399",$0.15,$0.13
8,2020-12-31,"$10,744","$8,678","$2,066",$522,$969,-,"$1,491",$575,$-196,...,-,$296,-,$270,"$1,193",$575,"2,798","3,249",$0.10,$0.08
9,2020-09-30,"$8,771","$6,708","$2,063",$366,$888,-,"$1,254",$809,$-254,...,-,$369,-,$300,"$1,393",$809,"2,811","3,315",$0.11,$0.09

In [138]:
# Create an engine to connect to the PostgreSQL database
engine = create_engine("postgresql://postgres:bida1234@localhost:5432/quarterly_statement")

# Write the DataFrame to the database
df_transpose.to_sql(f'''{ticker}''', engine, if_exists="replace")

10

In [8]:
print(dir(find_element))

NameError: name 'find_element' is not defined

In [69]:

        
url = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/income-statement?freq=Q'
browser = webdriver.Chrome()
browser.get(url)

element = browser.find_element(By.XPATH, "//*[contains(@class, 'jqx-reset') and contains(@class, 'jqx-icon-arrow-right')]")
for i in range(60):
    element.click()

In [82]:
c

,Quarterly Data | Millions of US $ except per share data,2022-09-30,2022-06-30,2022-03-31,2021-12-31,2021-09-30,2021-06-30,2021-03-31,2020-12-31,2020-09-30,2020-06-30
0,Revenue,"$90,146","$82,959","$97,278","$123,945","$83,360","$81,434","$89,584","$111,439","$64,698","$59,685"
1,Cost Of Goods Sold,"$52,051","$47,074","$54,719","$69,702","$48,186","$46,179","$51,505","$67,111","$40,009","$37,005"
2,Gross Profit,"$38,095","$35,885","$42,559","$54,243","$35,174","$35,255","$38,079","$44,328","$24,689","$22,680"
3,Research And Development Expenses,"$6,761","$6,797","$6,387","$6,306","$5,772","$5,717","$5,262","$5,163","$4,978","$4,758"
4,SG&A Expenses,"$6,440","$6,012","$6,193","$6,449","$5,616","$5,412","$5,314","$5,631","$4,936","$4,831"
5,Other Operating Income Or Expenses,-,-,-,-,-,-,-,-,-,-
6,Operating Expenses,"$13,201","$12,809","$12,580","$12,755","$11,388","$11,129","$10,576","$10,794","$9,914","$9,589"
7,Operating Income,"$24,894","$23,076","$29,979","$41,488","$23,786","$24,126","$27,503","$33,534","$14,775","$13,091"
8,Total Non-Operating Income/Expense,$-237,$-10,$160,$-247,$-538,$243,$508,$45,$126,$46
9,Pre-Tax Income,"$24,657","$23,066","$30,139","$41,241","$23,248","$24,369","$28,011","$33,579","$14,901","$13,137"
10,Income Taxes,"$3,936","$3,624","$5,129","$6,611","$2,697","$2,625","$4,381","$4,824","$2,228","$1,884"
11,Income After Taxes,"$20,721","$19,442","$25,010","$34,630","$20,551","$21,744","$23,630","$28,755","$12,673","$11,253"
12,Other Income,-,-,-,-,-,-,-,-,-,-
13,Income From Continuous Operations,"$20,721","$19,442","$25,010","$34,630","$20,551","$21,744","$23,630","$28,755","$12,673","$11,253"
14,Income From Discontinued Operations,-,-,-,-,-,-,-,-,-,-
15,Net Income,"$20,721","$19,442","$25,010","$34,630","$20,551","$21,744","$23,630","$28,755","$12,673","$11,253"
16,EBITDA,"$27,759","$25,881","$32,716","$44,185","$26,775","$26,958","$30,300","$36,200","$17,477","$15,843"
17,EBIT,"$24,894","$23,076","$29,979","$41,488","$23,786","$24,126","$27,503","$33,534","$14,775","$13,091"
18,Basic Shares Outstanding,"16,216","16,163","16,279","16,392","16,701","16,629","16,753","16,935","17,352","17,250"
19,Shares Outstanding,"16,326","16,262","16,403","16,519","16,865","16,782","16,929","17,114","17,528","17,419"
20,Basic EPS,$1.30,$1.20,$1.54,$2.11,$1.25,$1.31,$1.41,$1.70,$0.76,$0.65
21,EPS - Earnings Per Share,$1.29,$1.20,$1.52,$2.10,$1.23,$1.30,$1.40,$1.68,$0.74,$0.65